 @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

body{
    font-family: 'Work Sans', sans-serif;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
  
    padding: 20px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);

}
.nav-conteiner{
    max-width: 1440px;
    margin: 0 auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;

}
.nav-logo-content{
    width: 50%;
    display: flex;
    align-items: center;
   
  


}
.nav-logo-content img{
    width: 80px;
    height: 40px;
   

}
.nav-logo-content h1{
    font-size: 45px;
    font-weight: 700;
    color: #0B0223;

}

.nav-content{
    width: 50%;

}
.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;


}
.nav-content  a{
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    margin-right: 20px;

}
.btn-nav{
    margin-top: 15px;
    padding: 10px 20px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

/*nav bar style end here*/

.banner-conteiner{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.banner-content {
    background-image: url(../images/Group\ 14.png);
    fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
    width: 50%;
    height: 600px;
   
}
.banner-content h3{
    color: #0B0223;
    font-size: 40px;
    font-weight: 600;
    margin-top: 130px;
    text-align: center;
    
}
.banner-content h1{
    margin-top: 0px;
    font-size: 75px;
    font-weight: 800;
    background-image: linear-gradient(to bottom,#F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
    text-align: center;

}
.banner-content p{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-align: center;


}
.btn-primary{
    padding: 15px 35px;
    border-radius: 48px;
    border: none;
    color: #FFF;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    font-size: 20px;
    font-weight: 600;
    margin: 0 auto;
}

.banner-img-content {
    width: 50%;
}
.banner-img-content img{
    width: 100%;
    height: 100%;
    padding-bottom: 0px;


}

/*banner styles end here*/

.gamer-conteiner{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
}
.gamer-img-content{
    width: 50%;
}
.gamer-img-content img{
    width: 100%;
    height: 100%;
}
.gamer-content{
    width: 50%;
    margin-top: 50px;
}

.gamer-content h1{
    font-size: 48px;
    font-weight: 700;
    text-align: right;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;

   
}
.gamer-content p{
    font-size: 18px;
    font-weight: 400;
    text-align: right;
    color: #534C64;
   
}

/*gamer section styles end here*/


.gamer-videos{
    padding: 20px;
}
.fanny-videos-title{
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
}
span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;


}
.fanny-videos-parg{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.flex-img-conteiner{
    max-width: 1440px;
    margin: 0 auto;
    gap: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.img-card{
    width: 25%;
}
.img-card img{
    width: 100%;
}
.img-card p{
    text-align: center;
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}



/* this is a extra section*/

.play-game-conteiner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
}
.play-game-content{
    width: 50%;
}
.play-game-content h1{
    text-align: right;
    font-size: 48px;
    font-weight: 700;
     line-height: 60px;
     gap: 120px ; 
}
.play-game-content p{
    text-align: right;
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}

.play-game-img-content{
    width: 50%;
   
} 
 .img-game-content{
   width: 100%;
    height: 100%;
    padding-left: 200px;
    
  
 }

.reletive-img-box img{
    width: 50%;
    height: 50%;
    margin-top: -250px;
    padding-left: 80px;
}  

/*flex box end here*/