@media screen and (max-width:500px) {

    .nav-conteiner{
        flex-direction: column;
    }
    .nav-content {
        flex-direction: column;
       
    }
    .nav-logo-content h1{
        font-size: 30px;
        font-weight: 700;
    
    }
    .nav-content  a{
        font-size: 14px;
        font-weight: 300;
        margin-right: 20px;
    
    }
    .nav-content  li{
        margin-top: 15px;
    }

    /* nav responsive end here*/
    .banner-conteiner{
        flex-direction: column;
        margin-top: 20px;
        padding: 0 50px;
    }

    .banner-img-content {
        width: 100%;
        order: 0;
    }

    .banner-content{
        width: 100%;
        text-align: center;
        order: 1;
    }
    .banner-content h3{
        font-size: 30px;
        font-weight: 700;
        
    }
    .banner-content h1{
        font-size: 50px;
        font-weight: 800;
        text-align: center;
    
    }
    .banner-content p{
        font-size: 14px;
        font-weight: 300;
        margin-bottom: 20px;
    
    
    }
    .btn-primary{
        margin-top: 15px;
    }


    /*banner responsive end here*/

    .gamer-conteiner{
        flex-direction: column;
        padding: 0 50px;
    }
    .gamer-content{
        width: 100%;
        text-align: center;      
    }

    .gamer-img-content{
        width: 100%;       
    }

    .gamer-content p{
        font-size: 14px;
        font-weight: 300;
        text-align: center;
        margin-bottom: 15px;
    }
    .gamer-content h1{
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 20px;
        text-align: center;
    }

    /* gamer responsive end here*/

    .flex-img-conteiner{
        flex-direction: column;
        padding: 0 50px;
    }
    .fanny-videos-title{
        font-size: 30px;
        font-weight: 700;
        text-align: center;
        line-height: 30px; /* 166.667% */
    }
    .fanny-videos-parg{
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        margin-bottom: 30px;
    }
    .img-card{
        width: 100%;
    }
    .img-card p{
        text-align: center;
        font-size: 14px;
        font-weight: 300;
        margin-top: 10px;
    }
    

    /*flex box responsive end here*/
    .play-game-conteiner{
        flex-direction: column;
    }
    .play-game-img-content{
        width: 100%;
       
    }
    .play-game-content{
        width: 100%;
        text-align: center;
    }
    .play-game-content h1{
        text-align: center;
        font-size: 30px;
        font-weight: 700;
         line-height: 35px;
         margin-bottom: 25px;

         
    }
    .play-game-content p{
        text-align: center;
        font-size: 14px;
        font-weight: 300;
        margin: 0 auto 20px;
        line-height: 20px; /* 166.667% */
        margin-bottom: 30px;
    }
    .img-game-content{
        width: 100%;
         height: 100%;
         padding-left: 140px;
         padding-right: 50px;
         
       
      }
      /*gamer zone responsive end here*/
      .career-conteiner{
        flex-direction: column;
        margin: 100px  60px;
      }

      .career-content{
        width: 100%;
        margin-bottom: 80px;
    
    }
    .career-content p{
        font-size: 14px;
        font-weight: 300;
        line-height: 20px; /* 166.667% */
    
    }

    .career-img-content{
        width: 100%;
    
    }
       /*career section responsive end here*/

     .grid-conteiner{

        
    }


    .game-card{
     flex-basis: 60px
  
    }

    /*main section responsive end here*/
    
    .footer-content { 
        text-align: center;
        max-width: 500px;
        margin: 50px auto ;
        gap: 10px;
    
    
    }
    
.footer-content p{
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    font-weight: 600;


}
.logos-conteiner{
    text-align: center;
    max-width: 200px;
    margin: 30px auto ;
    gap: 30px;


}

.logos-conteiner span{
    font-size: 30px;
   
    
}
.fa-brands{
    align-content: center;
   
}

.footer-privacy{
    text-align: center;
    max-width: 400px;
    margin: 0 auto;

}

.small-text-center{
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}



    
}